<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.vitaminc4.cookbox"
      android:versionCode="1"
      android:versionName="2.3.3">
  <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15"/>
  <uses-permission android:name="android.permission.INTERNET" />
  <application android:label="@string/app_name" >
    <service android:name=".RecipeStorageService" />
    <activity android:name="RecipeListActivity" android:label="@string/app_name" android:theme="@style/CookboxTheme">
      <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="RecipeActivity" android:label="@string/app_name" android:theme="@style/CookboxTheme">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>
    <activity android:name="RecipeSearchActivity" android:label="@string/app_name" android:theme="@style/CookboxTheme">
      <intent-filter>
          <action android:name="android.intent.action.VIEW" />
      </intent-filter>
    </activity>
    <activity android:name="SettingsActivity" android:label="@string/app_name" android:theme="@style/CookboxSettingsTheme">
      <intent-filter>
          <action android:name="android.intent.action.VIEW" />
      </intent-filter>
    </activity>
    <activity
      android:name="com.dropbox.client2.android.AuthActivity"
      android:launchMode="singleTask"
      android:configChanges="orientation|keyboard">
      <intent-filter>
        <!-- Change this to be db- followed by your app key -->
        <data android:scheme="db-qw5gcw6gry0qj39" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
  </application>
</manifest> 
